body{
  background-color: tomato;
}

header{
  position: fixed;
  top:0; left: 0; right: 0;
  background-color: rgb(45, 92, 33);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .logo{
  margin: 5px;
  margin-top: 40px;

}
header .navbar a{
font-size: 2.3rem;
border-radius: 80%;
padding: 5rem 1.5rem;
color: black; 

}
header .navbar a:hover{
  color: rgb(39, 2, 39);
  background: rgb(238, 170, 68);


}



.container{
  display: flex;
  text-align: center;
  padding: 4%;
}
.intro{
  margin-top: 62px;
  display: flex;
  padding: 8px;
  width: 50vw;
  border-radius: 12px;
}
.explanation{
  margin-top: 62px;
  display: flex;
  padding: 8px;
  border-radius: 12px;
  margin-left: 9px;
  width: 50vw
}
.column_right{
  width: 50%;
}
.column_left{
  width: 50%;
}
.column_left img{
  max-width: 250px;
  padding: 2%;
}
.expl_img img{
  max-width: 250px;
  min-height: 200px;
  border-radius: 6px;
  padding-left: 6px;
}
span{
  color: rgb(253, 253, 9);
}
@media only screen and (max-width:768px) {
  .container{
    display: flex;
    text-align: center;
    padding: 4%;
    flex-direction: column;
  }
  .intro, .explanation{
    display: flex;
    flex-direction: column;
    width: 80vw;
    text-align: center;
    margin: auto;
    padding: auto;
    margin-top: 150px;
  }

}
